$primary-navy: rgb(0,48,87);
$primary-red: rgb(168,18,62);
$primary-black: rgb(0,0,0);
$primary-black-light: lighten(rgb(0,0,0), 10%);
$secondary-light-green: rgb(218,224,206);


.bg-primary-navy
{
  background-color: $primary-navy;
}

.bg-primary-red
{
  background-color: $primary-red;
}


.text-white
{
  color: white;
}

.text-white-all
{
  *
  {
    color: #fff !important;
  }
}

.off-white-bg
{
  background: #f4f4f4;
}

.bg-white
{
  background-color: #fff;
}

.overlay-core-blue
{
  background-color: rgba(0,48,87,.8);
}
