@include breakpoint (medium down) {

// Header

header {
  background-color: $primary-color;
  padding: 1em 0em !important;
}

header .drop-down {


    padding: 0px;


    li {
      padding: 0px !important;

      a {
        font-size: 12px;

      }
    }
}

.dropdown .is-dropdown-submenu a {
  padding-right: 0px;
}

.is-dropdown-submenu.js-dropdown-active {
    display: block;
    border-top: 2px solid white;
    padding-top: 15px;
}


  header {
    max-width: 100%;
    min-height: 100px;
    padding: 1em;
  }

  .grid-container {
    padding-left: 2em;
    padding-right: 2em;
  }

  header .circle-logo {
    height: 58px;
  }

  header .text-logo {
    height: 86px;
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  left: 0;
  width: initial;
}

header #nav-icon3 {
  margin-top: 37px;
}

.default-page {
    margin-top: 100px;
}

header nav {

}

header {


}

.fixed-header .circle-logo {
  height: 58px;
}

.fixed-header .text-logo {
    height: 31px;
  }


// Hero
  .hero .content {
      padding-top: 12em;
      padding-bottom: 10em;
      color: white;
  }

  .hero:after {

    bottom: -1px;
    height: 135px;

    background-position-x: 37%;
}


.text-image .image {
  position: relative;
  height: 350px;
}

.text-image.image-text .image:before, .text-image .image:before {
  transform: none;
}

.text-image.image-text .grid-container .content {
    padding-right: 0em;
    padding-left: 0em;
}

.medium-padding {
  padding: 4em 0em;
}

.text-image .image:before {
  height: 120px;
}

.text-image .image:before {
  bottom: -27px;
}


.default-page {
  overflow: hidden;
}

.text-image .image {
  left: 0;
}

.text-image .image:before {
    bottom: -17px;
    left: 0;
    z-index: 9999;
}

.team .content {
    padding-right: 0em;
}

.quote .grid-container h3 {
    margin-left: 20px;
}

.subfooter img {
    padding: 15px;
    height: 96px;
}

footer:after {
  top: -179px;
}

.subfooter {
    background-color: #e1e1e1;
    padding: 3em 0em 7em;
}

.news-hero .content {
    padding-top: 5em;
    padding-bottom: 0em;
    color: white;
}

article {
  padding-top: 3em;
}


header nav {

    padding-top: 2.5em;
    top: 100px;
}

header .drop {
  margin-left: auto;

}

header .drop-down {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 18px !important;
    padding-bottom: 1px;
}

header .drop {
  padding-top: 20px !important;
  padding-bottom: 20px !important;

}


}


@include breakpoint (medium down) {
  header #nav-icon3 {
    margin-top: 17px;
  }

  header .logo {
    top: 3px;
  }

  header .circle-logo {
    height: 50px;
    width: 50px;
}

header .text-logo {
  height: 86px;
float: left;
margin-left: 0px;
margin-top: 0px;
left: 0;
}

h1 {
  font-size: 45px;
  line-height: 55px;

}

.hero .content p {
  max-width: 100%;
}

.hero {
  background-size: 0px;
    background-position: top;
    background-repeat: no-repeat;
        background-color: $primary-color;
}

.hero .content {
  padding-top: 7em;
      padding-bottom: 7em;
}

.mobile-hero-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.hero .content p {
    font-size: 17px;
    line-height: 25px;
  }

h1 {
    font-size: 33px;
    line-height: 43px;
}


h2 {
  font-size: 26px;
  line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

.hero:after {
  height: 80px;
}

.hero:before {
  display: none;
}

.three-columns img {
  max-width: 80px;
}

.text-image .image:before {
  height: 80px;
}

.text-image .medium-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}

header nav ul li {
  margin-bottom: 5px;
}

header nav {
  padding-top: 1.5em;
}
.fixed-header .circle-logo {
    height: 40px;
    width: 30px;
}

.fixed-header .text-logo {
    height: 21px;
    width: 59px;
}

.fixed-header .logo {
  top: 9px;
}

.fixed-header {
  min-height: 66px;
padding: 1px 16px;
}

.fixed-header nav {
  top: 66px;
padding: 18px 11px;
}

.news-tile .image {
  height: 170px;
}

p {
    font-size: 17px;
}

.news-tile {
  margin-top: 0em;
  margin-bottom: 2em;
}

.text-image .image {
  height: 250px;
}

.team img {
  margin-bottom: 1.5em;
  margin-left: 0px;
}

.team .text-center {
  text-align: left;
}

.large-padding {
  padding: 5em 0em;
}

.quote .grid-container h2:before {
  font-size: 220px;
}

.subfooter img {
    padding: 11px;
    height: initial;
    width: 44%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.subfooter {
  padding: 2em 0em 4em;
}

footer {
  text-align: center;

  img {
    max-width: 150px;
    margin-bottom: 20px;
  }

  .text-right {
    text-align: center;
  }
}

.quote .grid-container h2:before {
  left: 0px;
}

.quote .grid-container h2 {
  margin-bottom: 5px;
}

.news-hero h1 {
  font-size: 22px;
  line-height: 32px;
}

.news-hero .content {
  padding-top: 3em;
}

.news-hero .content {
  padding-bottom: 4em;
}

article {
  padding-top: 0em;
  margin-top: 1em;
}

.large-h3 {
  font-size: 20px;
    line-height: 30px;
}

.news-hero .no-image-content {
  padding-bottom: 7em !important;
}



  .button {
    font-size: 21px;
  }
  .three-columns img {
    max-width: 80px;
}

.text-image .grid-container .content {
  padding-right: 0em;
  padding-left: 0em;
}

header nav ul li a:hover {
  border-bottom: 0px;
}


.hero .image {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 3em;
    height: 400px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin-top: 50px;
    border-radius: 40px;
}

.hero .image .device-image {

    left: -59px;
    top: 54px;
    opacity: 0.6;
}

.hero .grid-container .grid-x, .hero .grid-container {
  min-height: 0px;
}

header #nav-icon3 span:nth-child(1), header #nav-icon3 span:nth-child(4) {
  &:before {
    content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  background-color: white;
  position: absolute;
  top: -3px;
  z-index: -1;
  }
}

header #nav-icon3 span:nth-child(3) {
  &:before {
    content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 0;
  background-color: white;
  position: absolute;
  top: -3px;
  z-index: -1;
  }
}

.hero:after {
  height: 100px;
  bottom: -55px;
}

.fixed-header .text-logo {
    height: 41px;
    width: initial;
    margin-top: -10px;
}

.fixed-header #nav-icon3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 58px;
    line-height: 58px;
}

h3 {
    font-size: 23px;
    line-height: 30px;
}

.stats-counter-beta .background-device {
  display: none;
}

footer .get-in-touch {
    background-color: #133c4d;
    border-radius: 10px;
    padding: 15px 25px 22px;
    float: right;
    min-width: 387px;
    margin-bottom: 1em;
    position: relative;
    text-align: right;
}

footer .get-in-touch .fa {
  top: 26px;
}

footer .device-image {
  display: none;
}

footer ul {
  text-align: left;
}

footer ul li a {
  padding-right: 15px;
  margin-right: 15px;
}

footer .sub-footer {
  text-align: left;
}

.header-open .text-logo {
  height: 55px;
}

header #nav-icon3.open span:nth-child(1):before, header #nav-icon3.open span:nth-child(4):before, header #nav-icon3.open span:nth-child(3):before {
  display: none;
}

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
    background-color: #143746;
    top: 10px;
    border-radius: 0px;
    padding: 20px 20px 10px;
}

header nav ul .is-dropdown-submenu-parent:after {
  display: none;
}

header nav ul .is-dropdown-submenu-parent a {
  padding-right: 0px;
}

header nav ul .is-dropdown-submenu-parent {
  &:before {
    border-style: solid;
border-width: 0.15em 0.15em 0 0;
content: '';
display: inline-block;
height: 0.65em;
left: 0.15em;
position: relative;
top: 8px;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
vertical-align: top;
width: 0.65em;
left: -10px;
-webkit-transform: rotate(135deg);
-ms-transform: rotate(135deg);
transform: rotate(135deg);
  }
}

header nav ul .is-dropdown-submenu-parent a {
  padding-top: 10px;
}

header nav ul li .is-active:before {
  bottom: -15px;
}

h2 {
    font-size: 42px;
    line-height: 42px;
}

}

@media print {
  header {
    display: none;
  }

  footer {
    display: none;
  }

  .sub-footer {
    display: none;
  }
}

@include breakpoint (small only) {
  header {
    padding: 1em 0em !important;
  }

  header #nav-icon3 span {
    height: 2px;
  }

  .hero .image {
    height: 300px;
        margin-top: 9em;
  }

  header .grid-container {
    padding: 0em;
  }

  header .logo {
    top: 0px;
    left: 30px;
}

header #nav-icon3 {
  margin-right: 1.5em;
}

.default-page {
    margin-top: 0px;
}

  .grid-margin-x {
    margin-left: 0em;
    margin-right: 0em;
}

  .hero .image .device-image {
    left: -38px;
    height: 260px;
  }

  .hero h1 {
    font-size: 43px;
    line-height: 43px;
}

.hero .content {
    padding-top: 3em;
    padding-bottom: 5em;
}

.mouse {
  &::after {
    background-color: white;
    width: 105px;
    height: 105px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    border-radius: 50%;
  }
}


body .subheading {
  font-size: 20px !important;
}
.medium-padding {
    padding: 3em 0em;
}

.three-columns .large-8 {
    margin-left: 0em;
    max-width: 100%;
}

body h2 {
    font-size: 33px;
    line-height: 33px;
}
  .three-columns .content {
    padding: 0em;
  }

  footer .get-in-touch {
    min-width: 100%;
  }

  footer ul li {
    display: block;
  }

  footer ul li a {
    border-right: 0px;
    border-bottom: 2px solid white;
  }

  footer ul li a {
    border-right: 0px;
    border-bottom: 2px solid #143c4c;
    display: block;
    padding-bottom: 12px;
    margin-bottom: 5px;
}

  .header-open {
      background-color: #103240;

      nav {
            border-bottom: 4px solid #e1bf00;
            background-color: #214c5e;
                border-top: 4px solid #214c5e;
      }

  }

  header nav {
    background-color: #214c5e;
  }

  .fixed-header nav {
    top: 85px;
  }

  .fixed-header {
    min-height: 85px;
  }

  .news-hero .grid-container .grid-x .content {
    padding-bottom: 5em;
}

  // header nav, .fixed-header {
  //   background-color: #214c5e;
  // }

  header nav .header-open.fixed-header {
    background-color: #19232c;
}

.stats-counter-beta .stat {
  padding: 0px;
}

.stats-counter-beta h4 strong {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.team .grid-x {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .stats-counter-beta .stat {
    padding: 0px !important;
    margin: 0px;
}

header nav ul li a:hover {
    border-bottom: 0px;
    color: #ffffff;
}

body .stats-counter-beta h4 strong {
    font-size: 50px;
    margin-top: 0px;
}

body .stats-counter-beta {
  padding: 3em 0em;
}

.stats-counter-beta .stat img {
  margin-bottom: 0.5em;
}

.text-image .grid-container .content {
  min-height: 0px;
}

.grid-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

footer ul {
  border-bottom: 0px;
}


}
