@include breakpoint (medium down) {

// Header

header .drop-down {


    padding: 0px;


    li {
      padding: 0px !important;

      a {
        font-size: 12px;

      }
    }
}

.dropdown .is-dropdown-submenu a {
  padding-right: 0px;
}

.is-dropdown-submenu.js-dropdown-active {
    display: block;
    border-top: 2px solid white;
    padding-top: 15px;
}


  header {
    max-width: 100%;
    min-height: 100px;
    padding: 1em;
  }

  .grid-container {
    padding-left: 2em;
    padding-right: 2em;
  }

  header .circle-logo {
    height: 58px;
  }

  header .text-logo {
    height: 31px;
    float: left;
    margin-left: 15px;
    margin-top: 13px;
}

header #nav-icon3 {
  margin-top: 37px;
}

.default-page {
    margin-top: 100px;
}

header nav {

}

header {


}

.fixed-header .circle-logo {
  height: 58px;
}

.fixed-header .text-logo {
    height: 31px;
  }


// Hero
  .hero .content {
      padding-top: 12em;
      padding-bottom: 10em;
      color: white;
  }

  .hero:after {

    bottom: -1px;
    height: 135px;

    background-position-x: 37%;
}


.text-image .image {
  position: relative;
  height: 350px;
}

.text-image.image-text .image:before, .text-image .image:before {
  transform: none;
}

.text-image.image-text .grid-container .content {
    padding-right: 0em;
    padding-left: 0em;
}

.medium-padding {
  padding: 4em 0em;
}

.text-image .image:before {
  height: 120px;
}

.text-image .image:before {
  bottom: -27px;
}


.default-page {
  overflow: hidden;
}

.text-image .image {
  left: 0;
}

.text-image .image:before {
    bottom: -17px;
    left: 0;
    z-index: 9999;
}

.team .content {
    padding-right: 0em;
}

.quote .grid-container h3 {
    margin-left: 20px;
}

.subfooter img {
    padding: 15px;
    height: 96px;
}

footer:after {
  top: -179px;
}

.subfooter {
    background-color: #e1e1e1;
    padding: 3em 0em 7em;
}

.news-hero .content {
    padding-top: 5em;
    padding-bottom: 0em;
    color: white;
}

article {
  padding-top: 3em;
}


header nav {

    padding-top: 2.5em;
    top: 100px;
}

header .drop {
  margin-left: auto;

}

header .drop-down {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 18px !important;
    padding-bottom: 1px;
}

header .drop {
  padding-top: 20px !important;
  padding-bottom: 20px !important;

}


}


@include breakpoint (medium down) {
  header #nav-icon3 {
    margin-top: 17px;
  }

  header .logo {
    top: 3px;
  }

  header .circle-logo {
    height: 50px;
    width: 50px;
}

header .text-logo {
    height: 31px;
    float: left;
    margin-left: 9px;
    margin-top: 11px;
}

h1 {
  font-size: 45px;
  line-height: 55px;

}

.hero .content p {
  max-width: 100%;
}

.hero {
  background-size: 0px;
    background-position: top;
    background-repeat: no-repeat;
        background-color: #262626;
}

.hero .content {
  padding-top: 7em;
      padding-bottom: 7em;
}

.mobile-hero-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.hero .content p {
    font-size: 17px;
    line-height: 25px;
  }

h1 {
    font-size: 33px;
    line-height: 43px;
}


h2 {
  font-size: 26px;
  line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 26px;
}

.hero:after {
  height: 80px;
}

.hero:before {
  display: none;
}

.three-columns img {
  max-width: 80px;
}

.text-image .image:before {
  height: 80px;
}

.text-image .medium-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}

header nav ul li {
  margin-bottom: 5px;
}

header nav {
  padding-top: 1.5em;
}
.fixed-header .circle-logo {
    height: 40px;
    width: 30px;
}

.fixed-header .text-logo {
    height: 21px;
    width: 59px;
}

.fixed-header .logo {
  top: 9px;
}

.fixed-header {
  min-height: 66px;
padding: 1px 16px;
}

.fixed-header nav {
  top: 66px;
padding: 18px 11px;
}

.news-tile .image {
  height: 170px;
}

p {
    font-size: 17px;
}

.news-tile {
  margin-top: 0em;
  margin-bottom: 2em;
}

.text-image .image {
  height: 250px;
}

.team img {
  margin-bottom: 1.5em;
  margin-left: 0px;
}

.team .text-center {
  text-align: left;
}

.large-padding {
  padding: 5em 0em;
}

.quote .grid-container h2:before {
  font-size: 220px;
}

.subfooter img {
    padding: 11px;
    height: initial;
    width: 44%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.subfooter {
  padding: 2em 0em 4em;
}

footer {
  text-align: center;

  img {
    max-width: 150px;
    margin-bottom: 20px;
  }

  .text-right {
    text-align: center;
  }
}

.quote .grid-container h2:before {
  left: 0px;
}

.quote .grid-container h2 {
  margin-bottom: 5px;
}

.news-hero h1 {
  font-size: 22px;
  line-height: 32px;
}

.news-hero .content {
  padding-top: 3em;
}

.news-hero .content {
  padding-bottom: 4em;
}

article {
  padding-top: 0em;
  margin-top: 1em;
}

.large-h3 {
  font-size: 20px;
    line-height: 30px;
}

.news-hero .no-image-content {
  padding-bottom: 7em !important;
}



  .button {
    font-size: 16px;
  }
  .three-columns img {
    max-width: 80px;
}

.text-image .grid-container .content {
  padding-right: 0em;
  padding-left: 0em;
}

header nav ul li a:hover {
  border-bottom: 0px;
}
}

@media print {
  header {
    display: none;
  }

  footer {
    display: none;
  }

  .sub-footer {
    display: none;
  }
}
