body {
  color: $primary-color
}


.grid-container {
  max-width:1440px;
  padding-left: 4em;
  padding-right: 4em;
}

.small-padding {
  padding: 4em 0em;
}

.photo-credit {
  font-size: 14px !important;
    opacity: 0.3;
}

.medium-padding {
  padding: 6em 0em;
}

.large-padding {
  padding: 8em 0em;
}


.dark-background {
  background-color: $primary-color;
  color: white;
}
.grey-background {
  background-color: #EDEDED;
}

h1 {
  text-transform: uppercase;
  font-size: 56px;
  margin-bottom: 0px;
  line-height: 56px;
}

.news-hero .no-image-content {
  padding-bottom: 13em !important;
}

.news-hero .content p {
  font-size: 18px !important;
}

article {
  margin-top: 0px !important;
}

h2 {
font-size: 40px;
line-height: 45px;
text-transform: uppercase;
margin-bottom: 20px;

}

h3 {
  font-size: 25px;
  line-height: 30px;

}

.large-h3 {
  font-size: 30px;
    line-height: 40px;
}

h1, h2, h3 {
  font-weight: 900;

}

p, li {
  font-size: 19px;
}



.button {
  background-color: rgba(0,0,0,0);
  font-size: 24px;
  margin-top: 20px;
    font-family: "obvia-condensed", sans-serif;
    color: $primary-color;
    margin-right: 10px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 3px;
    margin-right: 20px;
      border-bottom: 2px solid $primary-color;

      &:hover {
        color: #e72d5b !important;
    border-bottom-color: #e82d5b !important;
        background-color: rgba(0,0,0,0);
        
      }
}

.white-button {
  color: white;
  border-bottom: 2px solid white;
}

.dark-background {

  .button {
    color: white;
    border-bottom: 2px solid white;
  }
}

.content ul {
  margin: 2em 0em;
}

.team .content {
  padding-right: 5em;
}

.team .grid-x {
  padding-top: 5em;
  padding-bottom: 4em;
  border-bottom: 2px solid #ededed;

img {
  max-width: 70%;
}


}

.team {
  &:last-child {

    .grid-x {
      border-bottom: 0px;
    }

  }
}


article {
  margin-top: 3em;

  h2 {
  font-size: 24px;
  line-height: 34px;
  text-transform: none;
  margin-bottom: 20px;

  }

  h3 {
    font-size: 19px;
    line-height: 29px;
    text-transform: none;
    margin-bottom: 20px;

  }

  h4 {
    font-size:16px;
    line-height: 25px;
    text-transform: none;
    margin-bottom: 20px;

  }
}


body .subheading {
  font-family: "obvia-condensed", sans-serif;
  font-weight: bold;
  font-size: 25px !important;
  margin-bottom: 10px;
  color: $secondary-color;
  margin-top: 10px !important;
}

[data-aos] {
  pointer-events: all;

}

.skip-to {
  display: none;
}
