header {

background-color: rgba (0,0,0,0);
color:white;
z-index: 9999;
position: fixed;
left:0;
right:0;
top: 0;

nav {
  padding: 2em 0em;

  ul {
    margin: 0px !important;

    li {
      padding: 10px 16px !important;
      border-radius: 10px;


    }
  }
}


.logo {
  position: absolute;
  top: 20px;
}

.logo-container {
  position: relative;
}

.circle-logo {

    height: 97px;
    float: left;
     transition: height 0.15s ease-out;

}

.text-logo {
  height: 90px;
  float: left;
  margin-left: 0em;
  margin-top: 6px;
  transition: height 0.15s ease-out;
}

.language-button {
  background-color: #171717;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-weight: bold;
}

.drop {
  position: relative;


  &:hover {
    background-color: #1b2f46;
    cursor: pointer;
  }

  a {
    &:hover {
      border-bottom: 0px;
    }
  }


}

.drop-down {
  position: absolute;
      background-color: #0b1827;
      padding: 20px 10px;
      right: 0;
      border-radius: 0px 0px 10px 10px;
      width: 180px;
      top: 61px;
      display: none;

      li {
        display: block;

        a {
          background-color: #434343;

          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
}



.header-fixed {
  background-color: $primary-color;
}

  @include breakpoint(small only) {
    img {
      width: 100px;
    }
  }

  nav {
    text-align: right;
    ul {

      list-style: none;
      margin: 15px 0px;

      li {

        display: inline-block;
        padding: 0px 10px;

        a {
          font-family: "obvia-condensed", sans-serif;
          letter-spacing: 0px;
          font-size: 20px ;
          font-weight: 600 ;
          letter-spacing: 1px ;
          color: white;
          text-transform: uppercase;

          &:hover {
            border-bottom: 2px solid white;
            color: white;
          }
        }

        .is-active {
          font-weight: bold;
          position: relative;

          &:after {
            content:"";
            position: absolute;
            height: 2px;
            background-color: white;
            left: 0;
            right: 0;
            bottom: -20px;
            margin-top: 25px;
            z-index: 99;
          }

          &:before {
            content:"";
            position: absolute;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: white;
            right: 0;
            z-index: 99;
            bottom: -20px;
          }

        }

        .sub-menu {
          display: none;
        }
      }
    }
  }



  #nav-icon3 {
    width: 35px;
    height: 25px;
    position: relative;
    margin: 0px auto;
    float: right;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 1.2em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    @include breakpoint(small only) {
      margin-top: 25px;
      margin-left: 22px;
      margin: 30px 20px;
    }

  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    @include breakpoint(small only) {
      height: 3px;
      border-radius: 0px;
    }
  }

  #nav-icon3.open {

    span {
      background: white;
    }
  }



  /* Icon 3 */

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

}

.sub-header {
  background-color: #171717;

  nav {
    padding: 0em;

    ul li {
      padding-right: 20px !important;
  border-right: 2px solid #9c9c9c;
  border-radius: 0px;

      a {}
    }
  }

   nav ul li a {
     font-size: 13px;

   }

   .sub-header nav ul li .is-active {
     border-color: $primary-color;
   }
}



.fixed-header {
  background-color: $primary-color;
  transition: height 0.15s ease-out;
}


@include breakpoint (medium down) {
  header nav {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 2em;
padding-top: 100px;
background-color: #19232c;
z-index: -1;
overflow-y: scroll;

ul li {
  display: block;
    margin-bottom: 30px;
}
  }
}

  @include breakpoint(small only) {
    header {
      padding: 1em;


      .grid-container {
        padding: 0em 0.5em;
      }
    }

    .fixed-header {
      position: fixed;
      background-color: #19232c;
    }

    header #nav-icon3 {
      margin: 17px 0px;
    }

    header nav {
      padding-right: 1.2em;
    }
  }



  .fixed-header {
    .circle-logo {
      height: 44px;
      transition: height 0.15s ease-out;
    }

    .text-logo {
      height: 60px;
        transition: height 0.15s ease-out;
    }
  }



  header .drop-down {
    right: auto;
    left: initial !important;
    right: 0 !important;
    top: 66px;
    border: 0px;
    padding: 10px 0px;
    width: 250px;
}

header nav .drop-down li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  padding: 10px 0px 20px;
    letter-spacing: 2px;
    display: block;
    border-bottom: 1px solid #3e4956;
}

header nav .drop-down li:last-child {
  a {
    border-bottom: 0px;
  }
}


header nav ul li a:hover {
  border-bottom: 0px;
  color: #fb0057;

  &:before {
    background-color: #fb0057
  }

  &:after {
    background-color: #fb0057
  }
}

.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
  background-color: #143746;
      top: 43px;
      padding-top: 20px;
      border-radius: 10px 0px 10px 10px;
}


header nav .drop-down li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 0px 20px;
    letter-spacing: 2px;
    display: block;
    border-bottom: 1px solid #3e4956;
    background-color: #143645;
    font-size: 17px;
    padding-bottom: 0px;
    border: 0px;
    padding: 0px;

    &:hover {
      border: 0px !important;
      color: #fb0057;
    }
}

header nav ul li:hover {
  background-color: #153545;
      border-radius: 10px;
}
