.stats-counter-beta {
  padding: 4em 0em;
  color: white;
  background-color: #13313d;

  h3 {
    font-size: 40px;
    line-height: normal;

  }

  .stat {
    margin-top: 0.5em;
    padding: 0em 20px;

    span {
      font-size: 55px;
      margin-bottom: 0px;
      line-height: 80px;
      color: #005d96;
    }
  }

  .large-push {
    margin-left: 12%;
  }

  h4 {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    strong {
      display: block;
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
}


@include breakpoint (small only) {
  .stats-counter-beta h3 {
    font-size: 30px;
  }
  .stats-counter-beta {
    padding: 2em 0em;
  }
  .stats-counter-beta .large-push {
    margin-left: 0px;
  }
  .stats-counter-beta h4 strong {
    font-size: 35px;
  }

  .stats-counter-beta h4 {
    font-size: 15px;
  }
  .stats-counter-beta .stat {
    padding: 0px 10px;
  }
}
