.stats-counter-beta {
  padding: 4em 0em;
  color: white;
  background-color: #cd1543;
  position: relative;
  overflow: hidden;

  .background-device {
    position: absolute;
    opacity: 1;
    right: 0;
    height: 200%;
    top: -30%;
    right: -20%;
  }

  .grid-container {
    position: relative;
  }

  h3 {
    font-size: 40px;
    line-height: normal;

  }

  .stat {
    margin-top: 0.5em;

    text-align: left;

    span {
      font-size: 55px;
      margin-bottom: 0px;
      line-height: 80px;
      color: #005d96;
    }
  }



  h4 {
    font-size: 21px;
    text-transform: uppercase;
    padding-right: 20px;
    strong {
      display: block;
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
}


@include breakpoint (small only) {
  .stats-counter-beta h3 {
    font-size: 30px;
  }
  .stats-counter-beta {
    padding: 2em 0em;
  }
  .stats-counter-beta .large-push {
    margin-left: 0px;
  }
  .stats-counter-beta h4 strong {
    font-size: 35px;
  }

  .stats-counter-beta h4 {
    font-size: 15px;
  }
  .stats-counter-beta .stat {
    padding: 0px 10px;
  }
}
