.text-image {

position:relative;



 .image {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;


  }



  .grid-container {
    position: relative;

    .content {
      padding-right: 3em;
      min-height: 400px;
    }
  }


}

.text-image.image-text {

  .image {
    left:0;
    right: 50%;


  }

  .grid-container .content {
    padding-right: 0em;
    padding-left: 3em;
    min-height: 400px;
  }

}


.dark-background .image {



}

.grey-background .image {


  
}
