<div class="bg-primary-navy text-white-all p-t-10 p-b-10">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 medium-6 large-6">
        <p class="m-b-0"><a href="mailto:admin@hira-ni.co.uk" class="button clear m-b-0"><span class="fa fa-envelope-o"></span>&nbsp;&nbsp;admin@hira-ni.co.uk</a></p>
      </div>
      <div class="cell small-12 medium-6 large-6 text-right text-left-small">
        <a href="#" class="button clear m-b-0 larger"><span class="fa fa-youtube"></span></a>
        <a href="#" class="button clear m-b-0 larger"><span class="fa fa-facebook"></span></a>
        <a href="#" class="button clear m-b-0 larger"><span class="fa fa-twitter"></span></a>
      </div>
    </div>
  </div>
</div>
