<footer>
  <div id="footer" class="bg-primary-navy text-white-all blue-lines">
    <div class="grid-container p-t-40 p-b-40">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6">
          <h2 class="h4">About HIRANI</h2>
          <p class="m-b-5">Lorem ipsum dolor sit amet urna, consectetur adipiscing elit, <br>sed do eiusmod tempor incididunt.</p>
          <p><a href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>&nbsp;&nbsp;Read more</a></p>
          <div class="grid-x">
            <div class="cell large-6">
              <h2 class="h4">Quick Links</h2>
              <ul class="angle-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Our Offering</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="cell large-6">
              <h2 class="h4">Contact Info</h2>
              <ul class="angle-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Our Offering</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cell large-6 text-right">
          <div class="promo-callout two text-white hide-for-small-only" data-bg="https://www.hira-ni.co.uk/__data/assets/git_bridge/0014/410441/dist/assets/img/bubble-red.svg">
            <p class="h1">Partnerships for health</p>
          </div>
          <a href="%globals_asset_url:395492%">
            <img src="https://www.hira-ni.co.uk/__data/assets/git_bridge/0014/410441/dist/assets/img/blank.gif" data-src="https://www.hira-ni.co.uk/__data/assets/git_bridge/0014/410441/dist/assets/img/hira-ni-white-logo.svg" alt="%globals_site_name%" width="300" class="hqy-lazy" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
