<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-top">
      <div class="cell small-12 medium-6 large-6">
        <img alt="" role="img" aria-label="Description of the overall image" src="/assets/img/logo.png" />
      </div>
      <div class="cell large-6 text-right">
        <div class="get-in-touch">
          <h3>Get in Touch with us</h3>
          <a href="mailto:info@hira-ni.com">Email us at: info@hira-ni.com</a>
        </div>
      </div>
      <div class="cell large-8">
        <ul>
          <li><a>Home</a></li>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
          <li><a>Our Offering</a></li>
          <li><a>Events</a></li>
          <li><a>Media</a></li>
        </ul>
      </div>
      <div class="cell small-12 medium-8 large-8 text-left " >
        <div class="content">
          <h4>About Hirani</h4>
          <p>The Health Innovation Research Alliance Northern Ireland (HIRANI) was established to strengthen the Life & Health Sciences ecosystem by maintaining a clear vision and strategic direction, and to act as a single voice for the sector with a focus on promoting Life and Health sciences capabilities in Northern Ireland.</p>
        </div>
      </div>
      <div class="cell large-8 sub-footer">
           &copy; Health Innovation Research Alliance Northern Ireland (HIRANI) 2022 | <a href="">Privacy Policy</a>
        </div>
    </div>

      <img class="device-image" src="/assets/img/white-helix.png" />
  </div>
</footer>
