<header role="banner">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-8 medium-6 large-3 logo-container">
        <a class="logo" href="/">
          <img alt="" role="img" aria-label="Description of the overall image" class="text-logo" src="/assets/img/logo.png" />
        </a>
      </div>
      <div class="cell small-4 medium-6  large-9">
        <div class="nav-menu hide-for-large">
          <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav role=”navigation” aria-label=”main-menu”>
          <ul class="" data-dropdown-menu data-responsive-menu=" medium-dropdown">
            <li>
              <a class="is-active" >Nav Option 1</a>
              <ul class="drop-down" data-submenu>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
                <li>
                  <a href="">Sub Nav 1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">Nav Option 2</a>
            </li>
            <li>
              <a href="/">Nav Option 3</a>
            </li>
            <li>
              <a href="/">Nav Option 4</a>
            </li>
            <li>
              <a href="/">Nav Option 5</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>
