<div class="grid-container m-t-30 m-b-30 m-small-t-0 m-small-t-0 header">
  <div class="grid-x grid-margin-x">
    <div class="cell small-9 medium-3 large-3 p-small-t-20">
      <a href="%globals_asset_url:395492%">
        <img src="https://www.hira-ni.co.uk/__data/assets/git_bridge/0014/410441/dist/assets/img/blank.gif" data-src="https://www.hira-ni.co.uk/__data/assets/git_bridge/0014/410441/dist/assets/img/hira-ni-full-colour-logo.svg" class="hqy-lazy" alt="" />
      </a>
    </div>
    <div class="cell small-3 show-for-small-only">
      <div class="p-l-20 p-r-20 p-small-t-10">
        <a href="#" class="button large m-b-0" data-toggle="mobileMenu"><span class="fa fa-bars" aria-hidden="true"></span><span class="show-for-sr">Show mobile main menu</span></a>
      </div>
    </div>
    <div class="cell medium-9 large-9 hide-for-small-only">
      <div class="p-t-15">
        <ul class="menu align-right">
          <li><a href="./about.html" class="bl">About</a></li>
          <li><a href="./contact.html" class="bl">Contact</a></li>
          <li><a href="./our-offering.html" class="bl">Our Offering</a></li>
          <li><a href="./events.html" class="bl">Events</a></li>
          <li><a href="https://twitter.com/search?q=%23hirani" class="bl">#hirani</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- mobile menu -->
<div class="off-canvas position-right bg-primary-red" id="mobileMenu" data-off-canvas>
  <div class="p-l-30 p-r-10 p-t-10 p-b-30 text-white-all">
    <div class="text-right m-b-20">
      <a href="#" class="button hollow large m-b-0" data-toggle="mobileMenu"><span class="fa fa-times" aria-hidden="true"></span></a>
    </div>
    <ul class="angle-right">
      <li><a href="./about.html" class="bl">About</a></li>
      <li><a href="./contact.html" class="bl">Contact</a></li>
      <li><a href="./our-offering.html" class="bl">Our Offering</a></li>
      <li><a href="./events.html" class="bl">Events</a></li>
      <li><a href="https://twitter.com/search?q=%23hirani" class="bl">#hirani</a></li>
    </ul>
  </div>
</div>
