<div class="grid-container m-t-30 m-b-30 header">
  <div class="grid-x">
    <div class="cell large-3">
      <a href="./home.html">
        <img src="../assets/img/hira-ni-full-colour-logo.svg" alt="" />
      </a>
    </div>
    <div class="cell large-9">
      <div class="p-t-15">
        <ul class="menu align-right">
          <li><a href="./about.html" class="bl">About</a></li>
          <li><a href="./contact.html" class="bl">Contact</a></li>
          <li><a href="./our-offering.html" class="bl">Our Offering</a></li>
          <li><a href="./events.html" class="bl">Events</a></li>
          <li><a href="https://twitter.com/search?q=%23hirani" class="bl">#hirani</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
