<div class="hero" >

  <div class="image" data-aos="fade-left" role="img" aria-label="Description of the overall image" style="background-image: url('https://www.hira-ni.com/__data/assets/git_bridge/0014/410441/dist/assets/img/promo-background.jpg');">

    <img class="device-image" data-aos="fade-in" data-aos-delay="600" src="/assets/img/yellow-helix.png" />

  </div>

  <div class="grid-container">
    <div class="grid-x grid-margin-x align-bottom">
      <div class="cell medium-5 large-5">
        <div class="content" data-aos="fade-right">
          <h1>Health Innovation Research Alliance Northern Ireland</h1>
          <p class="subheading">Promoting Life and Health sciences capabilities in NI.</p>
          <p>The Health Innovation Research Alliance Northern Ireland (HIRANI) was established to strengthen the Life & Health Sciences ecosystem by maintaining a clear vision and strategic direction, and to act as a single voice for the sector with a focus on promoting Life and Health sciences capabilities in Northern Ireland.</p>
          <a href="" class="button white-button">Download Brochure</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mouse">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>
